<div class="cloud-gate" [class.opening]="!isLoading()">

    <!-- Sky Background -->
    <div class="sky-background">
        
    </div>

    <!-- Opening Cloud Doors -->
    <div class="cloud-door cloud-left">
        <div class="css-cloud cloud-1"></div>
        <div class="css-cloud cloud-2"></div>
        <div class="css-cloud cloud-3"></div>
    </div>

    <div class="cloud-door cloud-right">
        <div class="css-cloud cloud-4"></div>
        <div class="css-cloud cloud-5"></div>
        <div class="css-cloud cloud-6"></div>
    </div>

    <!-- Center branding -->
    <div class="cloud-logo-wrapper">
        <div class="logo-text-bkk">BKK</div>
        <div class="logo-text-year">2026</div>
        <div class="logo-text-subtitle">ผู้ว่าราชการกรุงเทพมหานคร</div>
        <div class="premium-spinner">
            <div class="premium-spinner-inner"></div>
        </div>
    </div>

</div>